<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EmployeeViewerServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="EmployeeViewerServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44335/EmployeeViewerService.asmx"
                binding="basicHttpBinding" bindingConfiguration="EmployeeViewerServiceSoap"
                contract="EmployeeViewerService.EmployeeViewerServiceSoap"
                name="EmployeeViewerServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>